@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(0.9741 0.0074 80.72);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0.1776 0 0);
  --main-foreground: oklch(0.1776 0 0);
  --main: oklch(0.8925 0.1667 94.55);
  --border: oklch(0.1776 0 0);
  --ring: oklch(0.1776 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 12px 12px 0px 0px var(--border);
  --shadow-button: 4px 4px 0px 0px var(--border);

  --brand-1: oklch(0.5973 0.2237 279.77);
  --brand-2: oklch(0.7095 0.1881 11.01);
  --brand-3: oklch(0.8318 0.2324 132.41);

  --background-grid-size: 28px;
  --background-grid-line: oklch(0% 0 0 / 0.06);

  --breakpoint-sm: 390px;
  --breakpoint-md: 744px;
  --breakpoint-lg: 1120px;
  --breakpoint-xl: 1440px;

  --container-max: 1120px;
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-brand-1: var(--brand-1);
  --color-brand-2: var(--brand-2);
  --color-brand-3: var(--brand-3);

  --spacing-boxShadowX: 12px;
  --spacing-boxShadowY: 12px;
  --spacing-reverseBoxShadowX: -12px;
  --spacing-reverseBoxShadowY: -12px;

  --spacing-button-boxShadowX: 2px;
  --spacing-button-boxShadowY: 2px;
  --spacing-button-reverseBoxShadowX: -2px;
  --spacing-button-reverseBoxShadowY: -2px;

  --radius-base: 10px;
  --shadow-shadow: var(--shadow);
  --shadow-shadow-button: var(--shadow-button);

  --font-base: var(--font-public-sans);
  --font-heading: var(--font-public-sans);
  --font-weight-base: 400;
  --font-weight-heading: 700;
}

@utility container-app {
  width: 100%;
  margin-inline: auto;
  max-width: var(--container-max);

  /* padding for phone */
  padding-inline: 16px;
  padding-block: 0;
}

@media (width >= 744px) {
  .container-app {
    padding-inline: 16px;
    padding-top: 32px;
    padding-bottom: 0;
  }
}

@media (width >= 1120px) {
  .container-app {
    padding-inline: 0;
    padding-top: 36px;
    padding-bottom: 0;
  }
}
  
@layer base {
  body {
    @apply text-foreground font-base bg-background;
    background-image:
      repeating-linear-gradient(0deg,   var(--background-grid-line) 0 1px, transparent 1px var(--background-grid-size)),
      repeating-linear-gradient(90deg,  var(--background-grid-line) 0 1px, transparent 1px var(--background-grid-size));
    background-size: var(--background-grid-size) var(--background-grid-size), var(--background-grid-size) var(--background-grid-size);
    background-position: 0 0, 0 0;
  }

  h1, h2, h3, h4, h5, h6{
    @apply font-heading;
  }
}